.breadcrumbs-menu{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.breadcrumbs-menu__link{
	font-weight: 500;
	font-size: 14px;
	color: var(--content500)
}
.breadcrumbs-menu__link.active{
	pointer-events: none;
	cursor: default;
	color: var(--content300);
}
.breadcrumbs__arrowRight{
	display: flex;
	align-items: center;
	margin: 0 5px;
}